@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  border: 0;
}
body {
  height: 200vh;
  font-size: 14px;
  overflow-x: hidden;
  background-color: #f1f2f7;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(44, 116, 199);
  border-radius: 999px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    .logo {
      font-family: "Kalam", cursive;
      font-size: 40px;
    }
    .nav-content {
      .small-logo {
        display: none;
      }
      .nav-list {
        display: flex;
        list-style: none;
        .nav-item {
          color: #333;
          margin-right: 10px;
          font-size: 16px;
          font-weight: 600;
          a {
            color: #333;
            &:hover {
              color: rgb(60, 148, 231);
            }
          }
        }
      }
    }
  }
  .menu {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    display: none;
  }
}

.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  .hero-content {
    position: relative;
    z-index: 2;
    color: #fff;
    line-height: 1.3;
    .welcome {
      text-transform: uppercase;
      font-size: 45px;
    }
    h1 {
      font-size: 60px;
      font-weight: lighter;
      text-transform: uppercase;
    }
    .profile-avatar {
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 999px;
        border: 5px solid #fff;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  nav {
    .nav-container {
      .nav-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
        color: #fff;
        transform: translateX(-250px);
        transition: transform 0.3s ease;
        padding-top: 20px;
        .small-logo {
          font-size: 35px;
          text-align: center;
          display: block;
          padding-bottom: 10px;
        }
        .nav-list {
          flex-direction: column;
          .nav-item {
            display: block;
            color: #eee;
            margin-right: 0px;
            a {
              display: block;
              color: #eee;
              padding: 15px 10px;
              transition: transform 0.3s linear;
              &:hover {
                color: rgb(60, 148, 231);
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
    .menu {
      display: block;
    }
  }
  nav {
    .nav-container.active {
      .nav-content {
        transform: translateX(0);
      }
    }
  }
}
.bg-blur {
  background: url("background.jpg") top/cover no-repeat;
  background-attachment: fixed;
  filter: grayscale(1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-alpha {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 19, 53, 0.9);
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
section {
  .section-header {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 25px 0;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .section-aboutme {
    background-image: linear-gradient(120deg, #4181e7 0%, #c2e9fb 100%);
  }
  .section-skill {
    background-image: linear-gradient(120deg, #41d477 0%, #8fd3f4 100%);
  }
  .section-product {
    background-image: linear-gradient(to right, #dabb90 0%, #fcb69f 100%);
  }
  .section-education{
    background-image: linear-gradient(120deg, #f5a46e 0%, #ff4a43 100%);

  }
}
.box {
  background-color: #fff;
  padding: 20px;
  border: 0.5px solid #e9e9e9;
  border-radius: 15px;
  .box-header {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: #666;
    &::after {
      content: " ";
      background-image: url("high.svg");
      background-repeat: no-repeat;
      height: 30px;
      display: block;
      margin: 4px 0 10px;
    }
  }
  .box-body {
    padding: 20px 0;
    font-size: 16px;
  }
}
ul.contact {
  list-style: none;
  .contact-item {
    display: block;
    padding: 5px 0;
    i {
      margin-right: 15px;
    }
    a {
      color: #333;
    }
  }
}

.center{
    text-align: center;
}
// ============================= FOOTER =================
footer{
    background-color: rgb(163, 163, 163);
    margin-top: 30px;
    padding: 30px;
}