@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  border: 0;
}

body {
  font-size: 14px;
  background-color: #f1f2f7;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  -webkit-box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

nav .nav-container .logo {
  font-family: "Kalam", cursive;
  font-size: 40px;
}

nav .nav-container .logo a {
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .nav-container .nav-content .small-logo {
  font-family: "Kalam", cursive;
  display: none;
}

nav .nav-container .nav-content .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .nav-container .nav-content .nav-list .nav-item {
  color: #333;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  display: block;
}

nav .nav-container .nav-content .nav-list .nav-item .nav-link {
  color: #333;
  display: inline-block;
}

nav .nav-container .nav-content .nav-list .nav-item .nav-link:hover {
  color: #3c94e7;
}

nav .nav-container .nav-content .nav-list .nav-item .nav-link::after {
  content: "";
  width: 0%;
  position: absolute;
  border-bottom: 2px solid #3c94e7;
  bottom: -5px;
  left: 0%;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

nav .nav-container .nav-content .nav-list .nav-item .nav-link.active {
  color: #3c94e7;
  position: relative;
}

nav .nav-container .nav-content .nav-list .nav-item .nav-link.active::after {
  width: 100%;
}

nav .menu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  display: none;
}

.hero {
  margin-top: 50px;
  position: relative;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10px;
}

.hero .hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  line-height: 1.3;
}

.hero .hero-content .welcome {
  text-transform: uppercase;
  font-size: 45px;
}

.hero .hero-content h1 {
  font-size: 60px;
  font-weight: lighter;
  text-transform: uppercase;
}

.hero .hero-content .profile-avatar img {
  width: 150px;
  height: 200px;
}

@media only screen and (max-width: 768px) {
  nav .nav-container .nav-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: black;
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    padding-top: 20px;
    z-index: 101;
    overflow: hidden;
  }
  nav .nav-container .nav-content .small-logo {
    font-size: 35px;
    text-align: center;
    display: block;
    padding-bottom: 10px;
  }
  nav .nav-container .nav-content .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-container .nav-content .nav-list .nav-item {
    display: block;
    color: #eee;
    margin-right: 0px;
  }
  nav .nav-container .nav-content .nav-list .nav-item .nav-link {
    color: #ddd;
    display: block;
    padding: 15px 10px;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  nav .nav-container .nav-content .nav-list .nav-item .nav-link:hover {
    color: #3c94e7;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  nav .menu {
    display: block;
  }
  nav .nav-container.active .nav-content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.bg-blur {
  background: url("background.jpg") top/cover no-repeat;
  background-attachment: fixed;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-alpha {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 19, 53, 0.9);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: hidden;
}

section .section-header {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 25px 0;
  margin-bottom: 15px;
  font-size: 25px;
}

section .section-aboutme {
  background-image: linear-gradient(120deg, #6ca0f3 0%, #c2e9fb 100%);
}

section .section-skill {
  background-image: linear-gradient(120deg, #41d477 0%, #8fd3f4 100%);
}

section .section-product {
  background-image: -webkit-gradient(linear, left top, right top, from(#dabb90), to(#fcb69f));
  background-image: linear-gradient(to right, #dabb90 0%, #fcb69f 100%);
}

section .section-education {
  background-image: linear-gradient(120deg, #f5a46e 0%, #ff4a43 100%);
}

.box {
  background-color: #fff;
  padding: 20px;
  border: 0.5px solid #e9e9e9;
  border-radius: 15px;
  min-height: 26vh;
}

.box .box-header {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: #666;
  display: block;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding-top: 5px;
}

.box .box-body {
  padding: 20px 0;
  font-size: 16px;
}

ul.contact {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.contact .contact-item {
  display: block;
  width: 50%;
  padding: 5px 0;
}

ul.contact .contact-item i {
  margin-right: 15px;
}

ul.contact .contact-item a {
  color: #333;
}

.fit-height {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  ul.contact .contact-item {
    width: 100%;
  }
  .hero .hero-content .welcome {
    font-size: 30px;
  }
  .hero .hero-content h1 {
    padding-top: 5px;
    font-size: 35px;
  }
  .hero .hero-content .profile-avatar img {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.center {
  text-align: center;
  margin: 10px 0 0 0;
}

ul.list-content {
  margin-left: 10px;
}

.btn-link {
  background-color: #58b1e6;
  color: #fff;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #1b51a8;
}

.product-filter {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.btn-filter {
  outline: none;
  display: inline-block;
  cursor: pointer;
  background-color: #50a6df;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 16x;
  text-align: center;
  text-transform: uppercase;
  border-radius: 999px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-bottom: 5px;
}

.btn-filter:last-child {
  margin-right: 0px;
}

.btn-filter:hover {
  background-color: #154f75;
}

.btn-filter.active {
  background-color: #154f75;
  -webkit-box-shadow: 2px 2px 5px rgba(19, 78, 206, 0.6);
          box-shadow: 2px 2px 5px rgba(19, 78, 206, 0.6);
}

.filter-item.show {
  -webkit-animation: fadeIn 0.4s ease;
          animation: fadeIn 0.4s ease;
}

.filter-item.hide {
  display: none;
}

.tech {
  display: inline-block;
  margin-right: 4px;
  font-size: 14px;
  background-color: #303030;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 5px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
}

.product .product-image {
  position: absolute;
  display: block;
  overflow: hidden;
  position: relative;
}

.product .product-image img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.product .product-name {
  margin-bottom: 5px;
}

.product .product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 35px;
}

.product:hover .product-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product:hover .product-overlay {
  opacity: 1;
  visibility: visible;
}

.design {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
}

.design .product-image {
  position: absolute;
  display: block;
  overflow: hidden;
  position: relative;
}

.design .product-image img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.design .product-name {
  margin-bottom: 5px;
}

.design .product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 35px;
}

.design:hover .product-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.design:hover .product-overlay {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  width: 100%;
  color: #333;
  height: 100%;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
}

.modal a {
  color: #4499d1;
}

.modal a:hover {
  text-decoration: underline;
  color: #19699e;
}

.modal .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
}

.modal .modal-container .modal-body {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .modal-container .modal-body .youtube {
  width: 50%;
}

.modal .modal-container .modal-body .youtube .youtube-warning {
  margin-bottom: 5px;
}

.modal .modal-container .modal-body .youtube .youtube-warning a {
  color: #e02f38;
  font-weight: 600;
}

.modal .modal-container .modal-body .modal-description {
  width: 50%;
  padding-left: 15px;
}

.modal .modal-container .modal-body .modal-close {
  position: absolute;
  top: 5px;
  display: block;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 30px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  z-index: 10;
  outline: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.modal .modal-container .modal-body .modal-close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media (max-width: 768px) {
  .modal .modal-container .modal-body .youtube {
    margin-top: 10px;
    width: 100%;
  }
  .modal .modal-container .modal-body .modal-description {
    width: 100%;
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .modal .modal-container .modal-body {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  .modal .modal-container .modal-body {
    max-width: 1140px;
  }
}

.youtube #player {
  height: 450px;
}

.btn-link-go {
  padding: 10px 20px;
  color: #fff !important;
  background-color: #212529;
  border-color: #212529;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-link-go:hover {
  background-color: #4499d1;
  text-decoration: none !important;
}

.modal-description .modal-title-name h2 {
  font-size: 35px;
  text-transform: uppercase;
}

.modal-description .modal-title-name .project-date {
  color: #222;
  font-size: 15px;
  margin-bottom: 20px;
}

.modal-description .m-project {
  margin-bottom: 15px;
  line-height: 1.5;
}

.modal-description .m-project span {
  display: inline-block;
  margin-right: 3px;
}

.modal-description .m-project span:first-child {
  font-weight: 800;
  font-size: 16px;
}

.modal-description .m-project span:first-child::after {
  content: ":";
  display: inline-block;
  position: absolute;
}

.navbar-fixed-bottom {
  position: fixed;
  z-index: 150;
  right: 10px;
  bottom: 20px;
}

.navbar-fixed-bottom a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #50a6df;
  text-align: center;
  line-height: 40px;
  color: #50a6df;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.space {
  width: 100%;
  height: 30px;
}

footer {
  background-color: #0c0c0c;
  margin-top: 30px;
  padding: 30px;
  color: #eee;
}
/*# sourceMappingURL=style.css.map */